<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .footer {
            text-align: center;
            margin-top: 20px;
            color: #888;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div class="footer">
        <p>
            Powered by OpenWeather
        </p>
        <p>
            Created by Murat Al Khadam IP-13
        </p>
    </div>
</body>